{% extends "base.html" %}
{% load static %}

{% block title %} {{ title }} {% endblock %}
{% block content %}

    <h1>{{ title }}</h1>
    <textarea id="text-about-me">

    Я верю, что человек счастлив и удовлетворен, когда он живет, ориентируясь на ценности. На свои истинные ценности, исходящие из глубинной потребности Души в росте. Для соединения с этим двигающим мотивом, для начала нужно "наладить работу" головы и сердца. Голова - это про осознанность: понимать, анализировать, принимать решения, уметь концентрироваться. Сердце - про эмоции и чувства. Важно в полной мере чувствовать и проживать.
В созвучии головы и сердца возможно:
- полноценное проживание чувств и их выражение;
- исцеление травм и изменение невротических сценариев;
- принятие решений и следование к своим целям.
То есть полноценное проживание своей жизни и своей судьбы.

Расти и развиваться можно из-под палки: "Надо! Как есть, ты недостаточно хорош! Если перестану себя критиковать, не буду двигаться." А еще возможно движение к своей реализации из любви к себе - бережно, шаг за шагом, с уважением.
Я работаю для того, чтобы вы учились выбирать для себя второй вариант.
Опыт и образование
В мае 2017 года я впервые провела тренинг по голосу в Казани. В ноябре 2017 года был первый поток в онлайн формате. С тех пор прошли больше 20 живых интенсивов и 28 онлайн групп по голосу. Основа курса не меняется, потому что методика показала свою эффективность. При этом я постоянно добавляю что-то новое из телесно-ориентированной психологии, из системной терапии, чтобы курс становился еще более насыщенным и полезным.

В 2019 было обучение консультационной методике по работе с негативными эмоциями "Психологический антивирус". Об этом видеокурсе можно узнать подробнее по ссылке внизу. Это простой и действенный инструмент, помогающий справляться с самыми сложными внутренними конфликтами, и что самое важное - человек может его освоить для самостоятельного применения, и ему не нужны будут постоянные консультации.

В 2021 году защитила диплом психолога в направлении телесно-ориентированной психотерапии, потому что в какой-то момент поняла, что хочется иметь целостный подход к человеку. Работать не только с голосом и определенными чувствами, а иметь знания и навыки для выведения жизни на другой уровень. Консультирую с 2019 года.
С клиентами на консультациях мы работаем с такими темами, как выражение чувств и эмоций, низкая самооценка, психосоматические расстройства, апатия, сложности в отношениях, предназначение и многими другими. Через тело мы быстрее получаем доступ к разрешению ситуации, именно поэтому я выбрала данное направление и предлагаю его опробовать вам.
Все мои проекты построены в гуманистическом подходе: центром работы является личность, в которую заложен потенциал к самораскрытию и реализации заложенного потенциала. Человек сталкивается со сложностями в этом процессе, и нормально обращаться за помощью. Буду рада сопровождать вас на этом пути!


    </textarea>


{% endblock %}