body{
  background: navajowhite;
}
h1 {
  font-size: 200%;
  text-align:center;
  color: black;
}

h1.index_profession {
  width: 808px;
  height: 126px;
  flex-shrink: 0;
  color: #FFF;

  text-align: center;
  font-family: Montserrat;
  font-size: 64px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

}

h2.index_name_surname {
  color: #FFF;
  font-family: Montserrat;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

h3.index_explain_prof {
  width: 740px;
  height: 83px;
  flex-shrink: 0;
  color: #FFF;
  text-align: center;
  font-family: Montserrat;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

}

nav.includes_nav {
  color: black;
  align-content: center;
  text-align: center;
}
nav>a{
  color:green;
  text-decoration:none;
}
nav>a:hover {
  color: black;
  text-decoration: underline;
}
div.index {
  background: url(../images/1_122_1.png), lightgray 50% / cover no-repeat;
  width: 2316px;
  height: 1024px;
  flex-shrink: 0;
}

